textarea {
  height:4em;
}
#map {
  width:680px;
  height:340px;
  border:1px solid #ccc;
}
#format-list {
  margin-bottom:1em; 
  text-align:center;
}
#format-list a {
  display:inline-block;
  padding:5px;
  text-decoration:none;
  box-shadow: 2px 2px 1px #99ff99;
  border-radius: 5px;
}
#format-list a:hover {
 background-color: #ccffcc;
}
