RewriteEngine On
# Specify here the absolute path from the document root to the GeoIRI directory
RewriteBase /geoiri/
RewriteRule ^(id|doc)/geometry$ ./$1/geometry/ [R=301,L]
RewriteRule ^(id|doc)/geometry/([\d]+)$ ./$1/geometry/$2/ [R=301,L]
RewriteRule ^id(/.+) ./doc$1 [R=303,L]
RewriteRule ^(id|doc)/geometry(/([^/]*)(/(([^/]*[\d]+[\)]*\))(\.(.+))?)?)?)?$ geometry/?srs=$3&georep=$6&format=$8 [NC,PT]